<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Maximum Difference') }}</label>
        <div class="controls">
            <label for="inputMaxDiff"></label>
            <!-- class="input-block-levels" -->
            <input type="text"  data-bind="value: settings.plugins.AutoBedLevelChecker.max_diff" id="inputMaxDiff">
        </div>
    </div>
</form>
