<div class="input-append">
    <input type="text" class="input-block-level" data-bind="value: max_diff">
    <button class="btn btn-primary" data-bind="click: goToUrl">{{ _('Go where') }}</button>
</div>
<div>
    asdfafasdfasdfdas
</div>
